<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - MicroCredentials</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

<div class="container body-content">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        @Html.ActionLink("MicroCredentials", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Home", "Index", "Home", new { area = "" },  new { @class = "nav-link" })
                </li>
            </ul>
        </div>
    </nav>
    @RenderBody()
    <hr/>
    <footer>
        <p>&copy; @DateTime.Now.Year - MicroCredentials</p>
    </footer>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/knockout")
@RenderSection("Scripts", required: false)
</body>
</html>
