@model Pirl.MicroCredentials.Models.UserViewModel

@{
    ViewBag.Title = "User Registration";
}

<div class="container">
    <h4>
        MicroCredentials - User Registration
    </h4>
    
    <div data-bind="visible: metaMaskInstalled()" style="display: none;">
        <br />
        <div data-bind="visible: !registrationSuccessful()" style="display: none;">
            <div class="bs-callout bs-callout-danger" style="display: none;" data-bind="visible: error() != undefined">
                <h4 data-bind="text: errorTitle"></h4>
                <p id="ErrorMessage" data-bind="text: error"></p>
            </div>
            <form id="UserRegistrationForm" data-bind="with: registerFormModel">
                <div class="form-group">
                    @Html.LabelFor(m => m.FirstName, new { @class = "col-md-3" })
                    @Html.TextBoxFor(m => m.FirstName, new { data_bind = "value: firstName", @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.FirstName)
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.LastName, new { @class = "col-md-3" })
                    @Html.TextBoxFor(m => m.LastName, new { data_bind = "value: lastName", @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.LastName)
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "col-md-3" })
                    @Html.TextBoxFor(m => m.Email, new { data_bind = "value: email", @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.LastName)
                </div>
                <button type="button" class="btn btn-primary" data-bind="click: $root.processRegistration, disable: $root.isRegistering">Register</button>
            </form>
        </div>
        <div data-bind="visible: registrationSuccessful" style="display: none;">
            <div class="bs-callout bs-callout-success">
                <h4>Registration Successful</h4>
                <p>You are now registered with MicroCredentails. Please use the button below to launch the dashboard and start using the system.</p>
                <br/>
                <button type="button" class="btn btn-primary btn-lg" data-bind="click: $root.routeToDashboard">User Dashboard</button>
            </div>
        </div>
    </div>

    <p data-bind="visible: !metaMaskInstalled()" style="display: none;">
        To use MicroCredentials you require the MetaMask chrome extension to be installed.
    </p>
</div>


<br />

@section Scripts {
    <script type="text/javascript" src="@Url.Content("~/Scripts/Website/Constants.js")"></script>
    <script type="text/javascript" src="@Url.Content("/Scripts/Website/Api/CommonApi.js")"></script>
    <script type="text/javascript" src="@Url.Content("/Scripts/Website/Contract/UserContract.js")"></script>
    <script type="text/javascript" src="@Url.Content("/Scripts/Website/Model/UserModel.js")"></script>
    <script type="text/javascript" src="@Url.Content("/Scripts/Website/ViewModel/UserRegisterViewModel.js")"></script>

    <script>
        $(function (viewModel) {
            // Checking if Web3 has been injected by the browser (Mist/MetaMask)
            if (typeof web3 !== 'undefined') {
                // Use Mist/MetaMask's provider
                web3 = new Web3(web3.currentProvider);
                viewModel.metaMaskActive(web3.eth.accounts[0]);
            } else {
                console.log('No web3? You should consider trying MetaMask!');
            }

            ko.applyBindings(viewModel);
        }(MICROCREDENTIALS.userRegisterViewModel));
    </script>
}


