@model Pirl.MicroCredentials.Models.UserViewModel

@{
    ViewBag.Title = "User Dashboard";
}

<div class="container">
    <div data-bind="visible: metaMaskInstalled()" style="display: none;">
        <br />
        <div class="bs-callout bs-callout-danger" style="display: none;" data-bind="visible: error() != undefined">
            <h4 data-bind="text: errorTitle"></h4>
            <p id="ErrorMessage" data-bind="text: error"></p>
        </div>
        <div class="bs-callout bs-callout-success" style="display: none;" data-bind="visible: success() != undefined">
            <h4 data-bind="text: successTitle"></h4>
            <p id="SuccessMessage" data-bind="text: success"></p>
        </div>
        <div class="row">
            <div class="col-sm-10">
                <div class="jumbotron">
                    <h1 class="display-4">No Micro Credentials on File</h1>
                    <p class="lead">
                        A Micro Credential is a certified acknowledgement that you have mastered a small skill in a particular discipline.
                        Click Next to view the list of available Micro Credentials you may apply for.
                    </p>
                    <hr class="my-4">
                    <button type="button" class="btn btn-primary btn-lg" data-bind="click: routeToAgencyPicker">Next</button>
                </div>
            </div>
            <div class="col-sm  float-right bg-transparent text-sm-right" data-bind="with: userFormModel">
                <button type="button" class="btn btn-link" data-bind="click: $root.editUser">
                    <label data-bind="text: firstName"></label> <label data-bind="text: lastName"></label>
                </button>
                <button type="button" class="btn btn-link" title="Clicking this will show the user-submissions that are COMPLETED. UserSubmissions/Completed">0 Badges</button>
            </div>
        </div>

        <p data-bind="visible: !metaMaskInstalled()" style="display: none;">
            
            To use MicroCredentials you require the MetaMask chrome extension to be installed.
        </p>

        <div data-bind="template: { name: 'userModalTemplate', data: $data }"></div>
    </div>

    @section Scripts {
        @Html.Partial("~/Views/Home/User/_EditUser.cshtml")

        <script type="text/javascript" src="@Url.Content("~/Scripts/Website/Constants.js")"></script>
        <script type="text/javascript" src="@Url.Content("/Scripts/Website/Api/CommonApi.js")"></script>
        <script type="text/javascript" src="@Url.Content("/Scripts/Website/Api/UserApi.js")"></script>
    <script type="text/javascript" src="@Url.Content("/Scripts/Website/Api/AgencyApi.js")"></script>
        <script type="text/javascript" src="@Url.Content("/Scripts/Website/Contract/UserContract.js")"></script>
        <script type="text/javascript" src="@Url.Content("/Scripts/Website/Model/UserModel.js")"></script>
        <script type="text/javascript" src="@Url.Content("/Scripts/Website/ViewModel/UserDashboardViewModel.js")"></script>

        <script>
                $(function (viewModel) {
                    // Checking if Web3 has been injected by the browser (Mist/MetaMask)
                    var metaMaskCheckCount = 0;
                    var metaMaskInterval = setInterval(function () {
                        if (typeof web3 !== 'undefined') {
                            clearInterval(metaMaskInterval);

                            // Use Mist/MetaMask's provider
                            web3 = new Web3(web3.currentProvider);
                            viewModel.metaMaskActive(web3.eth.accounts[0]);

                            viewModel.retrieveUser()
                                .done(function () {
                                    ko.applyBindings(viewModel);
                                });
                        } else if (metaMaskCheckCount === 5) {
                            console.log('No web3? You should consider trying MetaMask!');
                            clearInterval(metaMaskInterval);
                        }

                        metaMaskCheckCount++;
                    }, 100);
                }(MICROCREDENTIALS.userDashboardViewModel));
        </script>
    }




