@model Pirl.MicroCredentials.Models.AgencyViewModel

@{
    ViewBag.Title = "Submit Microcredential";
}

<div class="container">
    <div data-bind="visible: metaMaskInstalled()" style="display: none;">
        <br />
        <div class="bs-callout bs-callout-danger" style="display: none;" data-bind="visible: error() != undefined">
            <h4 data-bind="text: errorTitle"></h4>
            <p id="ErrorMessage" data-bind="text: error"></p>
        </div>
        <div class="bs-callout bs-callout-success" style="display: none;" data-bind="visible: success() != undefined">
            <h4 data-bind="text: successTitle"></h4>
            <p id="SuccessMessage" data-bind="text: success"></p>
        </div>
        <div class="row">
            <div class="col-sm-10">
                <div class="jumbotron">
                    <hr class="my-4">
                    <div class="panel panel-default">
                        <h1 class="display-4">Step 4: Add Supporting Files</h1>
                        <div class="panel-heading float-left"><strong>Credential #X Title</strong></div>
                        <div class="panel-heading float-right"><strong>75 Pirl</strong></div>
                        <br />
                        <div class="panel-body">
                            Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae,
                            ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo
                        </div>
                        <br />
                        <button type="button" class="btn-link" title="Clicking this will download file id from /Files/id">Requirements</button>
                    </div>
                    <hr class="my-4">
                    <p>Upload the files as requested in the Micro Credential Requirements</p>
                    <ul class="list-group">
                        @for (var i = 0; i < 3; i++)
                        {
                            <li class="list-group-item"><button type="button" class="btn btn-link" title="Clicking this will show a popup of this agencies credentials/description, etc. /files/id">File Name @i</button></li>
                        }
                    </ul>
                    <br />
                    <button type="button" class="btn btn-secondary btn-sm">Add Files</button>
                    <hr class="my-4">
                    <br />
                    <button type="button" class="btn btn-primary btn-lg">Finish Application</button>

                </div>
            </div>
            <div class="col-sm  float-right bg-transparent text-sm-right">
                <button type="button" class="btn btn-link" title="Clicking this will let me edit my account. /UserRegistration popup.">Michael Murphy</button>
                <br />
                <button type="button" class="btn btn-link" title="Clicking this will show the Files page which will let me upload a file. /MyFiles popup.">0 Files</button>
                <br />
                <button type="button" class="btn btn-link" title="Clicking this will show the user-submissions that are any state but completed. UserSubmissions/InProgress">0 Under Review</button>
                <br />
                <button type="button" class="btn btn-link" title="Clicking this will show the user-submissions that are COMPLETED. UserSubmissions/Completed">0 Badges</button>
            </div>
        </div>

        <p data-bind="visible: !metaMaskInstalled()" style="display: none;">
            To use MicroCredentials you require the MetaMask chrome extension to be installed.
        </p>

        <div data-bind="template: { name: 'userModalTemplate', data: $data }"></div>
    </div>

    @section Scripts {
        @Html.Partial("~/Views/Home/User/_EditUser.cshtml")

        <script type="text/javascript" src="@Url.Content("~/Scripts/Website/Constants.js")"></script>
        <script type="text/javascript" src="@Url.Content("/Scripts/Website/Api/CommonApi.js")"></script>
        <script type="text/javascript" src="@Url.Content("/Scripts/Website/Api/UserApi.js")"></script>
        <script type="text/javascript" src="@Url.Content("/Scripts/Website/Contract/UserContract.js")"></script>
        <script type="text/javascript" src="@Url.Content("/Scripts/Website/Model/UserModel.js")"></script>
        <script type="text/javascript" src="@Url.Content("/Scripts/Website/ViewModel/UserDashboardViewModel.js")"></script>

        <script>
                $(function (viewModel) {
                    // Checking if Web3 has been injected by the browser (Mist/MetaMask)
                    var metaMaskCheckCount = 0;
                    var metaMaskInterval = setInterval(function () {
                        if (typeof web3 !== 'undefined') {
                            clearInterval(metaMaskInterval);

                            // Use Mist/MetaMask's provider
                            web3 = new Web3(web3.currentProvider);
                            viewModel.metaMaskActive(web3.eth.accounts[0]);

                            viewModel.retrieveUser()
                                .done(function () {
                                    ko.applyBindings(viewModel);
                                });
                        } else if (metaMaskCheckCount === 5) {
                            console.log('No web3? You should consider trying MetaMask!');
                            clearInterval(metaMaskInterval);
                        }

                        metaMaskCheckCount++;
                    }, 100);
                }(MICROCREDENTIALS.userDashboardViewModel));
        </script>
    }




